.product_view2_title{
    font-size: 1rem;
    margin-bottom: .5rem;
    color: #212529;
}
.product_view2_subtitle{
    font-size: .8rem;
    color: #727272;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.product_view2_time{
    font-size: .9rem;
    font-weight: 600;
    color: #545454;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.product_view2_cost{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .5rem;
    line-height: 1.3;
    color: #212529;
}
.div_img_view2{
    background-color: #eee;
}
.bx{
    box-shadow: 0;
    transition: all ease-in-out 0.3s;
}
.bx:hover{
    box-shadow: 0 0.25rem 0.5rem rgba(34,34,34,0.27);
}