<a href="#" class="d-block">
    <div class="card">
        <div class="row no-gutters bx">
            <div class="col-md-3">
                <img src="https://i.blogs.es/9638f5/osete/840_560.jpg" class="card-img pr-4 pl-4 div_img_view2" alt="...">
            </div>
            <div class="col-md-9">
                <div class="card-body pb-2">
                    <p class="card-text font-6 product_view2_title">Some quick example text to build</p>
                    <p class="product_view2_subtitle pb-3">Óleo sobre lienzo - Sin firmar - c.1580 <a href="#" style="text-decoration: underline;">Más</a></p>

                    <div class="row pt-4">
                        <p class="product_view2_time col-12 col-lg-8">Cierra en 2d 10h:00m:00s</p>
                        <div class="col-5 col-lg-2">
                            <p class="product_view2_cost text-right">36 €</p>
                        </div>
                        <div class="col-7 col-lg-2 pl-md-0">
                            <button class="btn btn-primary rounded-pill btn-block btn-sm">Ver este lote</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>