<div class="p-0">
    <h2 class="row">Cuenta</h2>
    <div class="row m-2">
        <h3 class="col-5">Nombre de usuario</h3>
        <h3 class="col-3">user-39e45ea</h3>
        <button class="col-4 btn btn-primary">Modificar</button>
    </div>
    <div class="row m-2">
        <h3 class="col-5">Direcciones de correo electrónico</h3>
        <h3 class="col-3">user-39e45ea</h3>
        <button class="col-4 btn btn-primary">Modificar</button>
    </div>
    <div class="row m-2">
        <h3 class="col-5">Contraseña</h3>
        <h3 class="col-3">user-39e45ea</h3>
        <button class="col-4 btn btn-primary">Modificar</button>
    </div>
    <div class="row m-2">
        <h3 class="col-5">Idioma</h3>
        <h3 class="col-3">user-39e45ea</h3>
        <button class="col-4 btn btn-primary">Modificar</button>
    </div>
    <div class="row m-2">
        <h3 class="col-5">Moneda de pujas</h3>
        <h3 class="col-3">user-39e45ea</h3>
        <button class="col-4 btn btn-primary">Modificar</button>
    </div>
</div>