<div class="p-0">
    <h2 class="row">Cuenta</h2>
    <div class="row">
        <h3 class="col-8">Nombre de usuario</h3>
        <h3 class="col-4">user-39e45ea</h3>
    </div>
    <div class="row">
        <h3 class="col-8">Direcciones de correo electrónico</h3>
        <h3 class="col-4">user-39e45ea</h3>
    </div>
    <div class="row">
        <h3 class="col-8">Contraseña</h3>
        <h3 class="col-4">user-39e45ea</h3>
    </div>
    <div class="row">
        <h3 class="col-8">Idioma</h3>
        <h3 class="col-4">user-39e45ea</h3>
    </div>
    <div class="row">
        <h3 class="col-8">Moneda de pujas</h3>
        <h3 class="col-4">user-39e45ea</h3>
    </div>
</div>