<div class="container py-4">
  <div class="titulo">
    <div class="row">
      <div class="col-md-6">
        <h2>Vista previa</h2>
      </div>
    </div>
    <p>Echa un último vistazo a todo antes de enviar el lote. Después, se enviará a nuestros expertos para su revisión.</p>
  </div>

  <div class="review">
    <div class="card card-review mb-3">
      <div class="row no-gutters">
        <div class="col-md-3 img-preview">
          <div class="img-preview h-100" style="background-image: url('https://i.blogs.es/9638f5/osete/840_560.jpg');">
            <img src="https://i.blogs.es/9638f5/osete/840_560.jpg" class="d-md-none">
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between align-items-baseline">
              <span>Card title</span>
              <a href="" class="btn btn-link p-1"><i class="fas fa-pencil-alt"></i> Editar</a>
            </h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text text-right">
              <button class="btn btn-link p-1"><i class="far fa-eye"></i> Vista previa</button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h2 class="mb-3">Resumen</h2>
        <p>Comprueba que los datos que aparecen a continuación sean correctos.</p>
        <div class="dropdown-divider"></div>
        <h4 class="mb-1 font-6">Gastos de subasta</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni voluptatibus cum dolores distinctio at animi eligendi ipsa suscipit maxime excepturi.</p>
        <h4 class="mb-1 font-6">Las pujas comienzan desde</h4>
        <p>1 $</p>
      </div>
    </div>
  </div>
</div>
