.grid {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 250px 300px;
    gap: 4px;
}

.grid2 > div{
    height: 135px;
    padding: 1rem;
}
.grid2 div p {
    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
    font-family: fangsong;
}

.grid2-item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.grid2-img{
    height: 100px;
    overflow: hidden;
}
.grid2-item img {
    width: 100px;
}

.card-body {
    padding: 0.5rem !important;
}

.mat-body p,
.mat-body-1 p,
.mat-typography p {
    margin: 0 0 3px !important;
}
