<footer class="bg-white pt-4 footer">
    <div class="container">
        <div class="row fot-content">
            <div class="col">
                <ul>
                    <p class="font-6"> Subastón</p>
                    <a href="">
                        <li>Sobre Subastón</li>
                    </a>
                    <a href="">
                        <li>Ayuda</li>
                    </a>
                    <a href="">
                        <li>Afiliado</li>
                    </a>
                    <a href="">
                        <li>Ofertas de empleo</li>
                    </a>
                    <a href="">
                        <li>Prensa</li>
                    </a>
                    <a href="">
                        <li>Nuestro blog</li>
                    </a>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <p class="font-6">Comprar en Subastón</p>
                    <a href="">
                        <li>Cómo pujar</li>
                    </a>
                    <a href="">
                        <li>Expertos</li>
                    </a>
                    <a href="">
                        <li>Buenas practicas comerciales</li>
                    </a>
                    <a href="">
                        <li>Pautas para el cumplimiento de la ley</li>
                    </a>
                    <a href="">
                        <li>Supervisión notarial</li>
                    </a>
                    <a [routerLink]="['../terms-conditions/buyer-terms']">
                        <li>Términos del comprador</li>
                    </a>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <p class="font-6">Vender en Subastón</p>
                    <a href="">
                        <li>Vender a Subastón</li>
                    </a>
                    <a href="">
                        <li>Consejos para fotos</li>
                    </a>
                    <a [routerLink]="['../seller-terms']">
                        <li>Términos del vendedor</li>
                    </a>
                    <a href="">
                        <li>Pautas para enviar lotes a subastas</li>
                    </a>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <p class="font-6">Mi Subastón</p>
                    <a href="">
                        <li>Iniciar sesión</li>
                    </a>
                    <a href="">
                        <li>Regístrate gratis</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

</footer>

<div class="container">
    <div class="row">
        <div class="col ">
            <p class="fot-peru">Peru 2020</p>
        </div>
        <div class="col">
            <div class="redes-s text-right">
                <a href="#" class="d-inline-block"> <i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="#" class="d-inline-block mx-3"> <i class="fab fa-twitter-square fa-2x"></i></a>
                <a href="#" class="d-inline-block"> <i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
    </div>

</div>

<hr>
<div class="" style="height: 60px;">
    <div class="container">
        <div class="row fot-content2">
            <div class="col">
                <a [routerLink]="['../terms-conditions']">
                    <li>Términos de uso</li>
                </a>
            </div>
            <div class="col">
                <a [routerLink]="['../terms-conditions']">
                    <li>Política de privacidad</li>
                </a>
            </div>
            <div class="col">
                <a [routerLink]="['../terms-conditions']">
                    <li>Política de cookies</li>
                </a>
            </div>
            <div class="col">
                <a [routerLink]="['../terms-conditions']">
                    <li>Divulgación Responsable</li>
                </a>
            </div>
        </div>
    </div>
</div>