<div>
    <div class="text-center">
        <h1>Subastón Plataforma de subastas Online</h1>

    </div>
    <div class="fadeIn fast mb-5">
        <h2>Condiciones</h2>
        <p class="mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur enim facere nesciunt ab aut porro deleniti sint rem neque dignissimos reiciendis earum illo, rerum, ullam optio corporis quod velit repellendus!</p>
        <div class="text-center">
            <img src="assets/img/terms/terms3.svg" width="300px" alt="">

        </div>
    </div>
    <div class="fadeIn fast">
        <h2>Terminos de SUBASTÓN</h2>
        <ul class="ul-items">
            <li><a [routerLink]="['./seller-terms']" class="text-dark">Términos del vendedor</a></li>
            <li><a [routerLink]="['./buyer-terms']" class="text-dark">Términos del comprador</a></li>
        </ul>
        <div class="text-center">
            <img src="assets/img/terms/terms4.svg" width="180px" alt="">
        </div>
    </div>
</div>