
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row mt-5">
      <div class="col-xl mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="mb-0">Productos</h2>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th style="display: none;" scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Categoría</th>
                  <th scope="col">Imagen</th>
                  <th scope="col">Detalles</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acción</th>
                  <th scope="col">Acción</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of productos">
                  <td style="display: none;">{{producto._id}}</td>
                  <td>{{producto.name}}</td>
                  <td>{{producto.category}}</td>
                  <td><img src="{{producto.imgs[0]}}" class="img"></td>
                  <td><button class="btn btn-light" (click)="verDetalles(producto._id)">ver Detalles</button></td>   
                  <td>{{producto.state}}</td>
                  <td><button class="btn btn-success"  (click)="aprobar(producto._id, producto.state)">Aprobar</button></td>
                  <td><button class="btn btn-danger" (click)="rechazarDetalle(producto._id)">Rechazar</button></td>   
                  <td><button class="btn btn-warning" (click)="subsanarDetalle(producto._id, producto.state)">Subsanar</button></td> 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>