<app-navbar-portal></app-navbar-portal>
<div class="container">
    <div class="row my-4 align-items-center">
        <p class="col-6">1. Ingresa a la plataforma, en caso de no estar registrado puedes crearte una cuenta</p>
        <div class="col-6 text-center">
            <img src="../../../../assets/img/ayuda/Ayuda1.jpg" class="img-fuid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row my-4 align-items-center">
        <p class="col-6">2. Puede ingresar con un correo de Google, o crear sus credenciales</p>
        <div class="col-6 text-center">
            <img src="../../../../assets/img/ayuda/Ayuda2.jpg" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row my-4 align-items-center">
        <p class="col-6">3. Ingrese a "vender" para enviar a evaluar su producto</p>
        <div class="col-6 text-center">
            <img src="../../../../assets/img/ayuda/Ayuda3.PNG" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row my-4 align-items-center">
        <p class="col-6">4. Aparecerá la siguiente vista</p>
        <div class="col-6 text-center">
            <img src="../../../../assets/img/ayuda/Ayuda4.PNG" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row my-4 align-items-center">
        <p class="col-6">5. Seleccione la categoría a la que pertenece su producto</p>
        <div class="col-6 text-center">
            <img src="../../../../assets/img/ayuda/Ayuda5.PNG" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row my-4 align-items-center">
        <p class="col-6">6. Ingrese 3 fotos diferentes de su producto</p>
        <div class="col-6 text-center">
            <img src="../../../../assets/img/ayuda/Ayuda6.PNG" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row my-4 align-items-center">
        <p class="col-6">7. Ingrese los datos necesarios para evaluar su producto</p>
        <div class="col-6 text-center">
            <img src="../../../../assets/img/ayuda/Ayuda7.PNG" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row my-4 align-items-center">
        <p class="col-6">8. Eliga un método de envío</p>
        <div class="col-6 text-center">
            <img src="../../../../assets/img/ayuda/Ayuda8.PNG" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row my-4 align-items-center">
        <p class="col-6">9. Se mostrará una vista previa con la información ingresada lista para enviar</p>
        <div class="col-6 text-center">
            <img src="../../../../assets/img/ayuda/Ayuda9.PNG" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row my-4 align-items-center">
        <p class="col-6">10. Se le pedirá confirmar su respuesta</p>
        <div class="col-6 text-center">
            <img src="../../../../assets/img/ayuda/Ayuda10.PNG" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row my-4 align-items-center">
        <p class="col-6">11. Finalmente podrá ver la notificación con el producto enviado exitosamente</p>
        <div class="col-6 text-center">
            <img src="../../../../assets/img/ayuda/AyudaF.PNG" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>

</div>


<app-footer-portal></app-footer-portal>