.particular {
    margin-left: 7px;
    font-size: 8px;
    color: #03f;
    border: 1px solid rgba(34,34,34,0.16);
    padding: 2px 4 px;
    font-weight: 700;
}

.calificacion {
    font-size: smaller;
    margin-left: 7px;
}

.lote{
    font-weight: 300;
}
.lote:hover{
    text-decoration: underline;
}
