<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="bloque animate__animated animate__fadeIn personal-card">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mt-4">
                            <h2><strong>Describe tu producto</strong></h2>
                            <p>Cuéntanoslo todo sobre tu lote rellenando los datos que aparecen a continuación. Si no estás seguro de algo, no te preocupes; un experto lo revisará.</p>
                        </div>
                        <app-steper-product-register></app-steper-product-register>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>