<div class="container m-4">
  <div class="titulo">
    <div class="row">
      <div class="col-md-6">
        <h2>Fotos</h2>
      </div>
      <div class="col-md-6" align="end">
        <button (click)="goToData()" class="btn btn-primary btn-sm">
          Siguiente <i class="ni ni-bold-right"></i>
        </button>
      </div>
    </div>
    <p>Sube fotos que muestren tu lote de la mejor manera posible. Recuerda incluir diferentes ángulos y poner tu mejor
      foto primero.</p>
  </div>
</div>
