<app-navbar-portal></app-navbar-portal>

<div class="container mt-5 mb-5">
  <div class="row mx-0">
    <div class="col-12 col-md-3">
      <div class="p-4 bg-white p-3 box-ccc menu-tabs back">
        <!-- <p routerLinkActive="active"><a [routerLink]="['./account-profile']" class="text-dark">Cuenta</a></p>
                <p routerLinkActive="active"><a [routerLink]="['./img-profile']" class="text-dark">Imagen de perfil</a></p>
                <p routerLinkActive="active"><a [routerLink]="['./address']" class="text-dark">Direcciones</a></p>
                <p routerLinkActive="active"><a [routerLink]="['./payment']" class="text-dark">Pago</a></p> -->
        <p routerLinkActive="active"><a class="text-dark">Cuenta</a></p>
        <p routerLinkActive="active"><a class="text-dark">Imagen de perfil</a></p>
        <p routerLinkActive="active"><a class="text-dark">Direcciones</a></p>
        <p routerLinkActive="active"><a class="text-dark">Pago</a></p>
      </div>
      <div class="row">
        <div class="col">
          <div class="boton text-center mt-2">
            <button class="btn btn-success" (click)="saveData()">Guardar cambios</button>
          </div>
        </div>
        <div class="col">
          <div class="boton text-danger mt-2">
            <button class="btn btn-danger" (click)="reload()">Deshacer cambios</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-9 back">
      <div class="p-4 bg-white">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


</div>

<app-footer-portal></app-footer-portal>
