<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-4">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Crea tu cuenta gratis!</h1>
          <p class="text-lead text-light">Al crear una cuenta, aceptas los <a class="text-success"
              style="cursor: pointer;"><strong>Términos de uso y la Política de
                privacidad</strong></a>
            de Subastón.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-4">
          <div class="text-muted text-center mt-2 mb-4"><small>Registrarse con Google</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body py-lg-2">
          <div class="text-center text-muted mb-4">
            <small>O ingresa tus datos</small>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="register($event)">
            <div class="form-group"
              [ngClass]="{'has-danger' : registerForm.get('names').errors && registerForm.get('names').touched,'has-success': !registerForm.get('names').errors}">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Nombres" type="text" formControlName="names">
              </div>
            </div>
            <div class="form-group"
              [ngClass]="{'has-danger' : registerForm.get('surnames').errors && registerForm.get('surnames').touched,'has-success': !registerForm.get('surnames').errors}">
              <div class="input-group input-group-alternative mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Apellidos" type="text" formControlName="surnames">
              </div>
              <!-- <div *ngIf="registerForm.get('surnames').errors && registerForm.get('surnames').touched">
                <h6 class="text-danger">
                  Es un campo requerido
                </h6>
              </div> -->
            </div>
            <div class="form-group"
              [ngClass]="{'has-danger' : registerForm.get('dni').errors && registerForm.get('dni').touched,'has-success': !registerForm.get('dni').errors}">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Dni" type="text" formControlName="dni">
              </div>
            </div>
            <div class="form-group"
              [ngClass]="{'has-danger' : registerForm.get('email').errors && registerForm.get('email').touched,'has-success': !registerForm.get('email').errors}">
              <div class="input-group input-group-alternative mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control is-valid" placeholder="Email" type="email" formControlName="email">
              </div>
            </div>
            <div class="form-group"
              [ngClass]="{'has-danger' :  registerForm.errors?.areEquals,'has-success': !registerForm.get('password2').errors}">
              <div class="input-group input-group-alternative ">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" formControlName="password">
              </div>
            </div>
            <div class="form-group"
              [ngClass]="{'has-danger' :  registerForm.errors?.areEquals,'has-success': !registerForm.get('password2').errors}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Confirmacion de password" type="password"
                  formControlName="password2">
              </div>
            </div>
            <div class="text-muted font-italic"><small>Contraseña segura: <span
                  class="text-success font-weight-700">Segura</span></small></div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox"
                    formControlName="conditions">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">Acepto los <a href="#!">Términos de uso y la Política de
                        privacidad</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary mt-4"><i *ngIf="process"></i> Create
                account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
