<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-4">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Crea tu cuenta gratis!</h1>
          <p class="text-lead text-light">Al crear una cuenta, aceptas los <a data-toggle="modal"
              data-target="#termsModal" class="text-success" style="cursor: pointer;"><strong>Términos de uso y la
                Política de
                privacidad</strong></a> de Subastón.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-4">
          <!-- <div class="text-muted text-center mt-2 mb-4"><small>Registrarse con Google</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div> -->
        </div>
        <div class="card-body py-lg-2">
          <div class="text-center text-muted mb-4">
            <small>Ingresa tus datos</small>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="register($event)">
            <div class="form-group"
              [ngClass]="{'has-danger' : registerForm.get('names').errors && registerForm.get('names').touched,'has-success': !registerForm.get('names').errors}">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Nombres" type="text" formControlName="names">
              </div>
            </div>
            <div class="form-group"
              [ngClass]="{'has-danger' : registerForm.get('surnames').errors && registerForm.get('surnames').touched,'has-success': !registerForm.get('surnames').errors}">
              <div class="input-group input-group-alternative mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Apellidos" type="text" formControlName="surnames">
              </div>
              <!-- <div *ngIf="registerForm.get('surnames').errors && registerForm.get('surnames').touched">
                <h6 class="text-danger">
                  Es un campo requerido
                </h6>
              </div> -->
            </div>
            <div class="form-group"
              [ngClass]="{'has-danger' : registerForm.get('dni').errors && registerForm.get('dni').touched,'has-success': !registerForm.get('dni').errors}">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Dni" type="text" formControlName="dni" (keypress)="validarDni($event)">
              </div>
            </div>
            <div class="form-group"
              [ngClass]="{'has-danger' : registerForm.get('email').errors && registerForm.get('email').touched,'has-success': !registerForm.get('email').errors}">
              <div class="input-group input-group-alternative mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control is-valid" placeholder="Email" type="email" formControlName="email">
              </div>
            </div>
            <div class="form-group"
              [ngClass]="{'has-danger' :  registerForm.errors?.areEquals,'has-success': !registerForm.get('password2').errors}">
              <div class="input-group input-group-alternative ">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" formControlName="password">
              </div>
            </div>
            <div class="form-group"
              [ngClass]="{'has-danger' :  registerForm.errors?.areEquals,'has-success': !registerForm.get('password2').errors}">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Confirmacion de password" type="password"
                  formControlName="password2">
              </div>
            </div>
            <div class="text-muted font-italic"><small>Contraseña segura: <span
                  class="text-success font-weight-700">Segura</span></small></div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox"
                    formControlName="conditions">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">Acepto los <a data-toggle="modal" data-target="#termsModal">Términos de uso
                        y la Política de
                        privacidad</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" [routerLink]="['./login']" [disabled]="registerForm.invalid" class="btn btn-primary mt-4"><i
                  *ngIf="process"></i> Create
                account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Términos de uso y políticas de privacidad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1> <b>Terminos de uso</b> </h1>
        <p> Subastón proporciona una plataforma donde puedes vender objetos especiales a compradores de todo el mundo.
          Es muy importante para nosotros que nuestra Plataforma Online sea fiable y segura tanto para Compradores como
          para Vendedores.</p>
        <p>Queremos aprovechar esta oportunidad para explicar las reglas más importantes para vender en Subastón (los
          "Términos del Vendedor"), que forman parte integral de nuestros Términos de Uso. La disponibilidad de nuestros
          Servicios está restringida
          a ciertos países.</p>

        <p> Encontrarás una lista de los países admitidos aquí. Estos Términos del Vendedor también describen tus
          derechos y obligaciones en virtud del Contrato de Venta que celebres con los Compradores de tus Lotes. Puedes
          encontrar las obligaciones
          de los Compradores en virtud del Contrato de Venta en los Términos del Comprador. Para obtener más información
          sobre los términos en mayúsculas utilizados en este documento, consulta nuestros Términos de Uso. Puedes
          descargar e imprimir
          este documento.
        </p>
        <h4> Artículo 1:</h4>
        <p> Registrarse como Vendedor ¡Es genial que te interese vender Lotes con nosotros! Antes de usar nuestra
          Plataforma Online, asegúrate de saber lo siguiente: - Tendrás que crear una Cuenta de Vendedor. Al registrarte
          como Vendedor, estás obligado
          a declarar con veracidad si te estás registrando como particular o como profesional. Si utilizas nuestra
          Plataforma Online para vender Lotes en relación con tu comercio, negocio, artesanía o actividad profesional
          (como "Vendedor Profesional"),
          aparecerá un icono "Pro" junto a tu nombre de usuario en los Lotes que ofreces. - Es posible que te pidamos
          que te identifiques. Para vender en nuestra Plataforma Online, es posible que te pidamos que proporciones
          información de identificación
          adicional. Por ejemplo, es posible que se te pida una copia de tu documento de identidad, tu número de cuenta
          bancaria, fecha de nacimiento y, si procede, número de identificación de la Cámara de Comercio y de
          identificación a efectos
          del IVA, de acuerdo con nuestra Política de Privacidad. Nuestro Proveedor de Servicios de Pago también puede
          necesitar esta información antes de que puedas vender o recibir pagos. - Vender profesionalmente. Si utilizas
          nuestra Plataforma
          Online como Vendedor Profesional, estás obligado a cumplir con todas las leyes y regulaciones fiscales
          aplicables, registrarte de forma correcta y proporcionar toda la información requerida al registrarte.
          *Esperamos que cumplas con
          tus obligaciones de IVA. Para ser tratado como Vendedor Profesional a efectos del IVA, estás obligado a
          proporcionarnos un número de identificación válido a efectos del IVA . Si te encuentras fuera de la UE y no
          tienes un número de
          identificación a efectos del IVA, deberás proporcionar una prueba alternativa, a satisfacción de Subastón, de
          que estás utilizando nuestra Plataforma Online a título profesional (por ejemplo, para llevar a cabo un
          comercio, negocio,
          artesanía u otras actividades profesionales). Aceptas que serás designado como Vendedor Profesional para todo
          uso a través de esa Cuenta. *Esperamos que cumplas con el derecho de desistimiento de la UE. Si utilizas
          nuestra Plataforma
          Online con fines profesionales, reconoces y aceptas que en ciertos casos, los Compradores del Espacio
          Económico Europeo (EEE) pueden tener derecho a un "derecho de desistimiento" de 14 días. Cooperarás plenamente
          con nosotros en este
          proceso. Por favor, lee nuestra Política de Derecho de Desistimiento para más obtener más información. Si no
          estás registrado como Vendedor Profesional pero tenemos motivos razonables para creer que estás utilizando
          nuestra Plataforma
          Online con fines profesionales, tenemos derecho a considerarte un Vendedor Profesional para todas las ventas
          futuras a través de la Cuenta correspondiente. Esto significa que tendrás que adherirte al derecho de
          desistimiento de la
          UE. </p>
        <h4> Artículo 2: </h4>
        <p>Ofrecer Lotes a subasta Una vez que te registres como Vendedor, podrás ofrecer Lotes a subasta. Asegúrate de
          saber lo siguiente: - Determinaremos la idoneidad de tu Lote. Decidiremos qué Lotes son adecuados para
          venderse en nuestra Plataforma
          Online. Tomamos estas decisiones basándonos en las características del Lote, como el atractivo, la rareza, el
          posible precio de venta y la demanda esperada para el Lote en cuestión. Podemos rechazar Lotes sin decir por
          qué. Por favor,
          consulta nuestras Pautas para enviar lotes a subasta para comprobar qué tipos de lotes aceptamos y qué tipos
          no. - Necesitamos una descripción clara y completa de tu Lote. Cuando ofreces un Lote, debes proporcionar
          información de manera
          clara y completa sobre el Lote. Esta información debe incluir, entre otros, los siguientes materiales e
          información: 1. Una descripción correcta, completa y precisa del Lote. 2. Información sobre el estado y la
          clasificación del Lote,
          incluyendo si está incluido o no en el régimen de margen de bienes en el contexto de la legislación aplicable
          en materia de IVA. 3. Una o más fotografías claras que representen con precisión el estado actual (incluyendo
          cualquier defecto
          o deficiencia), características y otros detalles del Lote. 4. El Precio de Reserva, si corresponde (la opción
          de establecer un Precio de Reserva dependerá del valor del Lote). 5. Indicación de los gastos de envío reales
          (si procede).
          6. Cualquier otra condición relacionada con la oferta. - Eres el responsable de una descripción correcta del
          Lote. Esto también se aplica si proponemos cambios o realizamos cambios y/o complementamos la descripción del
          Lote. Te daremos
          la oportunidad de revisar la descripción antes de que comience la Subasta Online. Utilizarás esta oportunidad
          para comprobar la descripción del Lote y, por lo tanto, garantizarás que la descripción final describe el Lote
          con precisión.
          - Garantizas que tienes derecho y estás autorizado a vender el Lote. Al ofrecer y vender un Lote, garantizas
          que no estás (i) violando ninguna ley o regulación, (ii) infringiendo ningún derecho de terceros, incluyendo
          los derechos
          de acuerdo y los Derechos de Propiedad Intelectual, (iii) actuando de una manera que sea fraudulenta en
          general, o (iv) actuando de una manera que sea ilegal y/o fraudulenta hacia terceros o Subastón. También
          garantizas que la oferta
          y la venta del Lote sea una transacción genuina y auténtica. Más específicamente, garantizas que no estás
          ofreciendo el Lote como parte de una transacción falsa, permitiendo al Comprador, a ti mismo y/o a terceros
          transferir una cantidad
          y blanquear el dinero involucrado. - Clasificación de los Lotes. Nuestros expertos determinan la clasificación
          de los Lotes que aparecen en nuestra Plataforma Online en función de su experiencia y ciertos criterios. -
          Retirada de Lotes
          antes de que comience la subasta. Puedes retirar Lotes hasta que se publiquen en nuestra Plataforma Online y
          sean visibles para otros Usuarios. Después de ese tiempo, no podrás cambiar las condiciones asociadas a la
          oferta. Si decidimos
          eliminar tu Lote de una Subasta Online, serás totalmente responsable de cualquier daño resultante de esto. Si
          decides que un Lote debe ser eliminado después de que se ha publicado en la Subasta Online, tendrás que
          proporcionarnos documentos,
          archivos u otras formas de prueba indicando la razón por la que debe ser eliminado. Deberás proporcionar esta
          prueba a nuestra primera solicitud. Si decidimos que la prueba es suficiente, consultaremos con los pujadores
          y podremos,
          a nuestra propia discreción, eliminar el Lote de la subasta. Encontrarás más información sobre cómo ofrecer
          Lotes en nuestra página de Ayuda.</p>
        <p> Artículo 3: Lotes a subasta Una vez que hayamos aceptado tu Lote y lo hayamos sacado a subasta, otros
          Usuarios podrán pujar por él. Al vender en nuestra Plataforma Online, aceptas las siguientes reglas: - El
          Comprador y el Vendedor de
          un Lote celebran un Contrato de Venta. Al final de una Subasta Online, entrarás automáticamente en un Contrato
          de Venta con el pujador más alto (el Comprador) del Lote. Este no será el caso si has establecido un Precio de
          Reserva y
          la Puja más alta es menor que el Precio de Reserva. - No aceptamos pujas fraudulentas. No se te permite pujar
          por tus propios Lotes o por los Lotes de alguien conectado a ti. Tampoco se te permite tener a alguien
          conectado contigo
          pujando por tus Lotes. A esto lo llamamos pujas fraudulentas. - Los Lotes que ofrezcas en nuestra Plataforma
          Online se ofrecerán aquí de manera exclusiva. No ofrecerás Lotes a través de otros canales de venta mientras
          estén en una
          de nuestras Subastas Online. Eliminarás Lotes de otras páginas web, incluidas las plataformas online, y de tus
          propias tiendas (online) o las de otros si están en una de nuestras subastas. - Clasificación de los Lotes en
          los resultados
          de búsqueda. La ubicación y clasificación de los Lotes en los resultados de búsqueda en nuestra Plataforma
          Online puede variar y depende de diversos factores, como el nombre de la Subasta Online, el nombre de la
          categoría, los detalles
          del Lote, el título y los subtítulos del Lote, la descripción del Lote y las (auto)traducciones de cualquiera
          de los parámetros de búsqueda. En nuestra Página de Ayuda, encontrarás las preguntas más frecuentes sobre
          nuestras subastas.</p>

        <p> Artículo 4: Envío o recogida de Lotes Una vez que tu Lote se haya vendido, le pediremos al Comprador que
          pague el Precio de Compra, los gastos de transporte (si los hubiere), y la Comisión del Comprador. Tan pronto
          como el Comprador haya
          pagado, te lo haremos saber para que puedas entregar el Lote al Comprador u organizar la recogida. - El Lote
          deberá ser enviado en un plazo de tres (3) días laborables a partir de la fecha de pago. A menos que hayas
          acordado que el
          Comprador recoja el Lote, deberás empaquetarlo con cuidado y enviarlo en un plazo de tres (3) días laborables
          a partir de la recepción de la confirmación del pago por nuestra parte. Eres responsable de enviar el Lote al
          Comprador.
          El tiempo de entrega especificado nunca se considerará un límite legal. - Tus Lotes deberán enviarse con un
          código de seguimiento Track & Trace. También recomendamos encarecidamente el uso de envíos certificados y/o
          asegurados, ya
          que asumirás el riesgo de daño y/o pérdida de tus Lotes durante el envío. - Los Lotes deberán enviarse desde
          la dirección indicada en tu Cuenta. Estás obligado a enviar los Lotes desde la dirección indicada en tu
          Cuenta. Si envías
          el Lote desde una dirección diferente, necesitarás cubrir cualquier gasto que no se hubiera cobrado si el Lote
          hubiera sido enviado desde la dirección indicada en tu Cuenta (tales como, entre otros, impuestos y
          aranceles). - Envío
          desde países no admitidos. No puedes vender y/o enviar Lotes desde países que no están en la lista de países
          admitidos. Si envías Lotes desde países no admitidos, te encuentras en situación de incumplimiento y pierdes
          el derecho a
          recibir el pago. - Te pedimos que te pongas en contacto con el Comprador si hay problemas con el envío. Si el
          Lote se pierde y/o se daña durante el envío, y no logras llegar a una solución con el Comprador, necesitarás
          cooperar en
          una investigación por parte de la compañía de transporte. Una investigación en curso no afecta a nuestro
          derecho a decidir si el Precio de Compra será reembolsado al Comprador o se te pagará a ti. - Los gastos de
          envío excesivos deberán
          reembolsarse al Comprador. Si los gastos de envío son inferiores a la cantidad indicada en la Subasta Online,
          deberás reembolsar cualquier exceso de gastos de envío que el Comprador haya pagado. Si tienes alguna pregunta
          sobre la entrega
          o la recogida, échale un vistazo a nuestra Página de Ayuda.</p>
        <p> Artículo 5: Pago de Lotes Recibirás el Precio de Compra (con la Comisión del Vendedor deducida) después de
          (i) que el Comprador haya pagado el Precio de Compra, los gastos de transporte (si los hubiere), y la Comisión
          del Comprador, y
          (ii) que hayas enviado el Lote o que el Comprador haya recogido el Lote, de conformidad con el Artículo 4. -
          Podemos retener el pago. Podemos suspender tu pago si el Comprador ha dado aviso de un conflicto debido a, por
          ejemplo, supuestos
          daños o no conformidad del Lote. - Pueden aplicarse tipos de cambio. Fijaremos el tipo de cambio para cada
          Lote a lo que es al inicio de la Subasta Online. Incluso si el tipo de cambio cambia durante la subasta, el
          tipo de cambio que
          aplicamos se fijará al inicio de la subasta. Aceptas que se te puede pagar un Precio de Compra más bajo (o más
          alto) en tu propia moneda que si hubiéramos utilizado el tipo de cambio aplicable al final de la Subasta
          Online o cuando
          se pagó el Precio de Compra. También podríamos redondear el Precio de Compra a la unidad monetaria completa
          más cercana antes de pagarte. - Podemos cancelar transacciones si el Comprador no paga. Si el Comprador no
          paga de conformidad
          con sus obligaciones bajo los Términos del Comprador, le enviaremos múltiples recordatorios de pago. Si,
          después de haberle enviado nuestros recordatorios, el Comprador sigue sin pagar, aceptas y reconoces que
          podemos cancelar la transacción
          en nuestro sistema. La cancelación de la transacción no es lo mismo que la disolución del Contrato de Venta.
          Una vez que hayamos cancelado la transacción, podrás decidir si vuelves a ofrecer el Lote o si te pones en
          contacto directamente
          con el Comprador para ejercer tus derechos en virtud del Contrato de Venta. - Los Pagos se rigen por los
          términos de nuestros Proveedores de Servicios de Pago. Los servicios de procesamiento de pagos en nuestra
          Plataforma Online son
          proporcionados por nuestros Proveedores de Servicios de Pago, Stripe o Payoneer, dependiendo del país en el
          que te encuentres. Estos servicios de procesamiento de pagos están sujetos a los términos respectivos de
          nuestros Proveedores
          de Servicios de Pago. Para Stripe, los servicios están sujetos al Acuerdo de Cuenta Conectada de Stripe, que
          incluye los Términos de Servicio de Stripe (colectivamente, el "Acuerdo de Servicios de Stripe"). Para los
          pagos procesados
          por Payoneer, los servicios están sujetos a los Términos y Condiciones de Payoneer. Al vender en Subastón,
          aceptas estar sujeto a estos términos relevantes, que pueden ser modificados de vez en cuando. Recibir el pago
          puede depender
          de que rellenes todos los datos requeridos por los Proveedores de Servicios de Pago correspondientes, como tu
          fecha de nacimiento y, si eres un Vendedor Profesional, un número de registro de empresa. Si el proveedor de
          pago bloquea
          un pago de acuerdo con sus condiciones aplicables, tenemos derecho a cancelar la transacción en nuestro
          sistema y reembolsar al Comprador. En esos casos, no podemos ser responsables de ningún daño relacionado con
          la cancelación. -
          Nos reservamos el derecho de no pagarte. Si no has actuado de conformidad con nuestros Términos de Uso (por
          ejemplo, si has enviado un Lote desde un país no admitido o si no has proporcionado a nuestro Proveedor de
          Servicios de Pago
          la información de identificación solicitada), nos reservamos el derecho de no pagarte por el Lote en cuestión.
          En estos casos, aceptas y reconoces que perderás cualquier reclamación que puedas tener contra nosotros por
          dichos pagos.
          Encontrarás más información sobre nuestro proceso de pago en nuestra Página de Ayuda.</p>
        <h1> <b>Politicas de privacidad</b> </h1>
        <p> Artículo 6: Incumplimiento de tus obligaciones hacia el Comprador Si no cumples con tus obligaciones hacia
          el Comprador en virtud del Contrato de Venta, estarás en situación de incumplimiento y el Comprador tendrá
          derecho a disolver el
          Contrato de Venta. Sin estar obligados a ello, podemos enviarte una notificación de incumplimiento y una
          notificación de disolución en nombre del Comprador. En ese caso, tus obligaciones incluirán la compensación de
          los daños del Comprador,
          sin perjuicio de cualquier otro derecho. Esto incluye reembolsar al Comprador por cualquier Precio de Compra
          que ya hayas recibido de su parte. No seremos responsables de este reembolso. </p>
        <p> Artículo 7: Incumplimiento de tus obligaciones con Subastón Si no cumples con tus obligaciones con nosotros
          en virtud de los Términos de Uso, podremos decidir cancelar la transacción del Lote correspondiente. La
          cancelación no es lo mismo
          que la disolución del Contrato de Venta. Sin embargo, si cancelamos la transacción, podemos considerarte
          responsable de todos y cada uno de los daños y costos que suframos y/o en los que incurramos como resultado.
          Esto significa que
          aún nos deberás la Comisión del Vendedor. También serás responsable del importe de la Comisión del Comprador
          que hayamos perdido debido a la cancelación. Consecuencias por incumplir nuestros Términos de Uso Para
          asegurar nuestros propios
          derechos y los de otros Usuarios (por ejemplo, si incumples nuestros Términos de Uso incluyendo, para evitar
          dudas, estos Términos del Vendedor), tenemos derecho, en todo momento y a nuestra propia discreción, a (a)
          suspender tu pago
          o reembolso, (b) retener tu pago, y (c) compensar cualquier reclamación financiera que tengamos contra ti, con
          una reclamación financiera que tú tengas contra nosotros. Si alguna de estas acciones está regulada por la ley
          obligatoria
          (de consumo), solo podremos hacerlo de conformidad con dicha ley obligatoria. Además de lo anterior, para
          cumplir con la ley aplicable o si (i) tú has violado nuestros Términos de Uso, (ii) tú has recibido
          repetidamente valoraciones
          desfavorables o se nos informa de problemas con tu conducta o comportamiento, o (iii) si creemos de buena fe
          que son necesarias para proteger nuestra Plataforma Online, a otros Usuarios, o para prevenir el fraude o
          cualquier otra actividad
          ilícita, podemos tomar las medidas que se indican a continuación: Limitar temporal o permanentemente tu
          autorización para vender y/o pujar por Lotes. Revocar temporal o permanentemente cualquier estado especial
          asociado con tu Cuenta;
          Limitarte temporal o permanentemente el acceso a tu Cuenta. Si no nos has proporcionado información bancaria,
          de contacto o de identificación exacta la primera vez que te la solicitamos, habrás inclumplido nuestros
          términos y tenemos
          derecho a retener o no realizar los pagos para ti (incluidos los reembolsos). Si un Comprador paga un Lote con
          tarjeta de crédito y, debido al incumplimiento de tus obligaciones bajo estos Términos del Vendedor, solicita
          la devolución
          del cargo con éxito, podemos (i) bloquear tu Cuenta, (ii) compensar cualquier reclamación que tengamos contra
          ti, (iii) bloquear cualquier pago futuro para ti y (iv) iniciar procedimientos legales en tu contra. Si
          tomamos una o más
          de estas medidas, te informaremos por correo electrónico, indicando la razón por la que se haya(n) tomado
          esta(s) medida(s). En nuestra Página de ayuda puedes encontrar más información sobre los motivos por los que
          podemos restringir,
          suspender o cancelar el acceso a tu Cuenta. En caso de que decidamos limitarte permanentemente el acceso a tu
          cuenta (es decir, cancelarte la Cuenta), intentaremos informarte de los motivos 30 (treinta) días antes de
          cancelarte la
          Cuenta. Este período de notificación de 30 (treinta) días no se aplica si: Estamos sujetos a una obligación
          legal o reglamentaria que nos obliga a rescindir la totalidad de los Servicios que te prestamos. Ejercemos un
          derecho de rescisión
          por motivos imperativos de conformidad con la legislación europea y/o nacional. Has infringido reiteradamente
          nuestros Términos de Uso. Lo anterior no nos impide de ninguna manera iniciar procedimientos legales en tu
          contra. Si nuestro
          Acuerdo se rescinde o el acceso a tu Cuenta se suspende mientras tú todavía tienes ciertas obligaciones hacia
          otro Usuario bajo un Contrato de Venta, podremos cancelar las transacciones abiertas y disolver el Contrato de
          Venta en nombre
          del Comprador. Si tienes pagos pendientes que hacer, recibirás el importe correspondiente menos el importe de
          los daños y perjuicios en que hayamos incurrido por no haber actuado de acuerdo con nuestros Términos de Uso.
          También se
          nos permite imponer una penalización económica de 1000 € (mil euros) por cada violación de estos Términos de
          Uso, incluyendo estos Términos del Vendedor, sin perjuicio de nuestro derecho a recuperar los daños reales.
          Intentamos enviar
          una advertencia antes de imponer esta sanción. Sin embargo, en el caso de una infracción grave, no daremos
          aviso antes de imponer esta sanción. La sanción aumentará en un 10 % por cada violación subsiguiente de
          nuestros Términos de
          Uso. Si es posible, compensaremos esta penalización de conformidad con nuestros Términos de Uso. </p>

        <p> Artículo 8: Comunicación interna - Con Compradores. Puedes utilizar nuestro sistema de comunicación interna
          para comunicarte directamente con un Comprador. Este sistema es una gran manera de organizar la entrega de un
          Lote o responder
          a cualquier pregunta que los Compradores puedan tener. Ten en cuenta que no permitimos que este sistema se
          utilice para las siguientes actividades: 1. Envío de publicidad o promociones no solicitadas, solicitudes de
          donaciones o spam.
          2. Insultar, acosar o discriminar a otros Usuarios. 3. Realizar un acuerdo de venta con un Usuario sin la
          mediación de Subastón, con el fin de evitar comisiones. ¿Un Comprador te ha proporcionado comentarios
          relacionados con un Lote
          que has vendido? Nuestra Política de Comentarios se aplica a cualquier respuesta que desees dejar. Asegúrate
          de leerla antes de responder. - Con nosotros (Experiencia del cliente). Si tienes problemas técnicos con
          nuestra Plataforma
          Online o no estás satisfecho con nuestros Servicios, nuestros equipos internacionales de experiencia del
          cliente están a tu disposición para ayudarte en todo lo que puedan. Haremos un esfuerzo razonable para
          contestar a tus preguntas
          o quejas dentro de un plazo oportuno y, cuando sea posible, te proporcionaremos una solución. - Con nosotros
          (mediación). Aunque nos gustaría resolver cualquier problema que tengas con nosotros por nosotros mismos,
          queremos que sepas
          que también puedes presentar una queja a un organismo para la resolución extrajudicial de conflictos a través
          de la mediación. Estamos dispuestos a involucrar al (i) Centre for Effective Dispute Resolution (CEDR) o (ii)
          e-POM en cualquier
          conflicto que no pudiéramos resolver a través de nuestro sistema interno de quejas (consulta sus respectivas
          páginas web para obtener más información). </p>

        <p> Artículo 9: Conflictos con otros Usuarios Esperamos que los Usuarios resuelvan cualquier conflicto entre
          ellos. Sin embargo, si es necesario, haremos esfuerzos razonables para mediar entre el Comprador y tú. Por lo
          tanto, deberás informarnos
          lo antes posible de cualquier queja o conflicto entre el Comprador y tú. Contactar con el Comprador: dirígete
          a Mis lotes vendidos y haz clic en "Detalles del pedido" para mostrar la página del pedido de esa venta. A
          continuación,
          podrás hacer clic en el enlace "Enviar mensaje" para enviar un mensaje al Comprador. Contactar con Subastón:
          ponte en contacto con nuestro departamento de Atención al Cliente enviándonos un correo electrónico a través
          de nuestro formulario
          de contacto. Si no puedes encontrar una solución satisfactoria, incluso con nuestro apoyo, aceptas que
          nosotros tendremos la última palabra, de conformidad con el Artículo 14 de los Términos de Uso. Sin embargo, a
          pesar de nuestra
          decisión, tú eres libre de ejercer tus derechos o discutir directamente con el Comprador tu reclamación
          relacionada con el Contrato de Venta.</p>
        <p> Artículo 10: Auditoría de Subastón Para garantizar que nuestra Plataforma Online siga siendo segura para
          todos los Usuarios, podemos decidir auditar la calidad de los Lotes. Si tenemos razones para creer que tus
          Lotes no cumplen con nuestros
          estándares de calidad o con nuestras Pautas para enviar lotes, podemos (i) comprarte Lotes directa o
          indirectamente a través de nuestra propia Subasta Online o (ii) visitar tus instalaciones fuera de línea para
          inspeccionar los Lotes
          en persona. Con base en dicha auditoría, podremos tomar las medidas apropiadas, incluyendo la cancelación de
          la transacción, si el Lote no cumple con nuestros estándares de calidad.</p>
        <p> Artículo 11: Datos En nuestra Política de Privacidad puedes encontrar qué datos procesamos, cómo y por qué
          los procesamos y cuáles son tus derechos. Sin embargo, también te podría interesar saber qué datos generados
          por nuestros Servicios
          están a tu disposición como Vendedor. Puedes encontrar esta información en tu Cuenta. En nuestra página de
          ayuda encontrarás las preguntas más frecuentes para Vendedores sobre el acceso a datos.</p>
        <p> Artículo 12: Cambio de estos Términos del Vendedor Podemos modificar o ampliar los Términos del Vendedor en
          cualquier momento. Te notificaremos cualquier modificación y/o ampliación propuesta por correo electrónico al
          menos 15 (quince)
          días antes de que los Términos del Vendedor modificados y/o ampliados se publiquen en nuestra Plataforma
          Online y entren en vigor. Si continúas utilizando nuestra Plataforma Online después de recibir esta
          notificación, aceptas irrevocablemente
          los Términos del Vendedor modificados y/o ampliados. Si no deseas aceptar los Términos del Vendedor
          modificados y/o ampliados, infórmanos dentro de los 15 (quince) días posteriores a la recepción de esta
          notificación y podrás dejar
          de usar nuestra Plataforma Online y eliminar tu Cuenta. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
