<app-navbar-portal>
</app-navbar-portal>

<div class="container mt-5 mb-5">
    <div class="seccionterms">
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight"><a [routerLink]="['../terms-conditions']">Términos y condiciones</a></div>
            <div class="p-2 bd-highlight">|</div>
            <div class="p-2 bd-highlight"><a [routerLink]="['../buyer-terms']">Términos del comprador</a></div>
        </div>
    </div>
    <h1>Términos y políticas</h1>
    <hr>

    <div class="gridterms">
        <div>
            <p> Privacidad </p>
            <p>| Términos del comprador</p>
        </div>
        <div>
            <h1>Terminos del comprador</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet nulla, amet ducimus atque maiores quisquam eaque aliquid doloribus. Ipsa, dolores iure cupiditate non obcaecati nihil explicabo sint dolor amet!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet nulla, amet ducimus atque maiores quisquam eaque aliquid doloribus. Ipsa, dolores iure cupiditate non obcaecati nihil explicabo sint dolor amet!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet nulla, amet ducimus atque maiores quisquam eaque aliquid doloribus. Ipsa, dolores iure cupiditate non obcaecati nihil explicabo sint dolor amet!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet nulla, amet ducimus atque maiores quisquam eaque aliquid doloribus. Ipsa, dolores iure cupiditate non obcaecati nihil explicabo sint dolor amet!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet nulla, amet ducimus atque maiores quisquam eaque aliquid doloribus. Ipsa, dolores iure cupiditate non obcaecati nihil explicabo sint dolor amet!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet nulla, amet ducimus atque maiores quisquam eaque aliquid doloribus. Ipsa, dolores iure cupiditate non obcaecati nihil explicabo sint dolor amet!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet nulla, amet ducimus atque maiores quisquam eaque aliquid doloribus. Ipsa, dolores iure cupiditate non obcaecati nihil explicabo sint dolor amet!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet nulla, amet ducimus atque maiores quisquam eaque aliquid doloribus. Ipsa, dolores iure cupiditate non obcaecati nihil explicabo sint dolor amet!</p>
        </div>
    </div>


</div>





<app-footer-portal></app-footer-portal>