<div class="text-dark">
    <h1>Terminos del comprador</h1>

    <h2> Artículo 1: Compra de Lotes</h2>


    <p> ¡Es genial que te interese comprar Lotes en nuestra Plataforma Online! Antes de usar nuestros Servicios, asegúrate de conocer lo siguiente: El Comprador y el Vendedor de un Lote celebran un Contrato de Venta. Si Tu Puja es la más alta al final de
        la Subasta Online, serás considerado el Comprador y automáticamente entrarás en un Contrato de Venta con el Vendedor del Lote. Sin embargo, si el Vendedor establece un Precio de Reserva y su Puja es menor que el Precio de Reserva, no habrá Contrato
        de Venta. Nuestros Términos de Uso cubren tus obligaciones en virtud del Contrato de Venta. Cobramos una tasa por el uso de nuestros Servicios. La Comisión del Comprador es el 9 % del Precio de Compra (IVA incluido, si procede). Esto se añadirá
        al Precio de Compra. Los Compradores tienen que pagar los costes de transporte y cualquier coste adicional de importación (por ejemplo, IVA, aranceles de importación). También reconoces y aceptas que eres responsable de comprobar si existe alguna
        norma o restricción específica aplicable a la importación de un objeto a tu país. </p>

    <h2>Artículo 2: Pago de Lotes</h2>
    <p>
        Si has ganado un Lote y tu Puja ha alcanzado el Precio de Reserva, puedes considerarte el orgulloso Comprador de ese Lote. El siguiente paso es pagarlo de acuerdo con nuestras instrucciones. A continuación encontrarás nuestras reglas de pago. Después
        de ganar tu Lote, tendrás que pagar en un plazo de tres (3) días. En un plazo de tres (3) días a partir del fin de la Subasta Online, deberás pagar (i) el Precio de Compra y los costes de transporte (si procede) al Vendedor y (ii) la Comisión
        del Comprador a nosotros. El plazo de pago especificado nunca se considerará como un límite legal. Esto significa que se requiere un aviso de incumplimiento antes de que el Vendedor pueda disolver el Contrato de Venta debido a tu incumplimiento
        de pago. Debes asegurarte de que el Vendedor reciba el importe total del Precio de Compra y que nosotros recibamos el importe total de la Comisión del Comprador. Por lo tanto, tú eres responsable de cualquier coste (como los gastos bancarios),
        impuestos (como las retenciones fiscales), aranceles y gravámenes adeudados. Tú garantizas que tu compra es legítima. Tú garantizas que no compras el Lote como parte de una transacción falsa, lo que te permite a ti y/o a terceros transferir el
        Precio de Compra total o parcial y blanquear el dinero involucrado. Encontrarás más información sobre tus opciones de pago en nuestra página de Ayuda.</p>

    <h2>Artículo 3: Entrega o recogida de Lotes</h2>

    <p> Para la mayoría de los Lotes en nuestras subastas, el Vendedor enviará el/los artículo/s a la dirección asociada con tu Cuenta. Sin embargo, es posible que tengas que recoger ciertos Lotes. Asegúrate de comprobar los datos de envío en la descripción
        del Lote. Asegúrate de que tu dirección sea correcta para la entrega. El Vendedor enviará tu Lote a la dirección que figura en tu Cuenta. Le pediremos al Vendedor que envíe el Lote una vez que tu pago haya sido recibido. Si hay algún problema,
        ponte en contacto con nosotros en un plazo de tres (3) días a partir de la entrega. Tan pronto como el código se seguimiento Track & Trace muestre que el Lote ha sido entregado, tendrás tres (3) días para informarnos sobre cualquier problema relacionado
        con el Lote. Si tienes que recoger el Lote, tendrás que informarnos de cualquier problema relacionado con el Lote en un plazo de tres (3) días a partir de la recogida. Reconoces que no evaluaremos la queja y que el Vendedor recibirá su pago si
        no nos informas dentro de este período de tres (3) días. Si hay algún problema con el envío, te pedimos que trabajes directamente con el Vendedor para encontrar una solución. <b>Subastón</b> tiene derecho a presentar la firma del recibo y/o la
        confirmación de entrega Track & Trace en el lugar de entrega como prueba de que has recibido el Lote. Si hay un problema con la entrega de un Lote y no se llega a una solución con el Vendedor, ambos deberán cooperar en una investigación por parte
        de la agencia de transporte. Una investigación en curso no afecta a nuestro derecho a decidir si el Precio de Compra te será reembolsado a ti o pagado al Vendedor. Organizar la recogida con el Vendedor. Si has ganado un Lote que necesita ser recogido,
        deberás organizar y realizar la recogida del Lote en un plazo de cinco (5) días laborables a partir de la fecha de su compra, a menos que hayas acordado lo contrario con el Vendedor. La hora de recogida especificada nunca será considerada como
        un límite legal. Si no recoges el Lote de acuerdo con nuestras instrucciones o con tu acuerdo con el Vendedor, tú reconoces que podemos pagarle al Vendedor o cancelar la transacción en nuestro sistema. <b>Subastón</b> puede cancelar las transacciones
        si el Vendedor no entrega el Lote. Si el Vendedor no entrega el Lote de acuerdo con sus obligaciones en virtud de los Términos del Vendedor o la descripción del Lote, le enviaremos al Vendedor varios recordatorios. Si el Vendedor no actúa de conformidad
        con nuestras instrucciones, tú aceptas y reconoces que podemos cancelar la transacción en nuestro sistema. La cancelación de la transacción no es lo mismo que la disolución del Contrato de Venta. Una vez que hayamos cancelado la transacción, eres
        libre de ejercer tus derechos en virtud del Contrato de Venta con el Vendedor directamente. ¿Alguna pregunta sobre la entrega o recogida? Échale un vistazo a nuestra página de Ayuda.

        <h2>Artículo 4: Incumplimiento de tus obligaciones hacia el Vendedor </h2>
        <p>
            Si no cumples con tus obligaciones hacia el Vendedor bajo el Contrato de Venta, tú estarás en situación de incumplimiento y el Vendedor tendrá derecho a disolver el Contrato de Venta. Podemos enviarte una notificación de incumplimiento y una notificación
            de disolución en nombre del Vendedor, pero no estamos obligados a hacerlo. En ese contexto, tus obligaciones incluirán la compensación de los daños del Vendedor, sin perjuicio de cualquier otro derecho que tenga el Vendedor. </p>
        <h2>Artículo 5: Incumplimiento de tus obligaciones hacia <b>Subastón</b>
        </h2>

        <p> Si no cumples con tus obligaciones hacia <b>Subastón</b> en virtud de los Términos de Uso, podemos decidir cancelar la transacción del Lote correspondiente. La cancelación no es lo mismo que la disolución del Contrato de Venta. Sin embargo, si
            cancelamos la transacción, podemos considerarte responsable de todos y cada uno de los daños y costos que suframos y/o en los que incurramos como resultado. Esto significa que aún nos deberás la Comisión del Comprador. También serás responsable
            por el importe de la Comisión del Vendedor que hayamos perdido debido a la cancelación.</p>

        <h2>Consecuencias de tu incumplimiento de nuestros Términos de Uso</h2>
        <p> Para asegurar nuestros propios derechos y los de otros Usuarios (por ejemplo, si incumples nuestros Términos de Uso), tenemos derecho, en todo momento y a nuestra propia discreción, a (a) suspender tu pago o reembolso, (b) retener tu pago, y (c)
            compensar cualquier reclamación financiera que pudiésemos tener contra ti, con una reclamación financiera que tú pudieses tener contra nosotros. Si alguna de estas acciones está regulada por la ley obligatoria (de consumo), solo podremos hacerlo
            de conformidad con dicha ley obligatoria. Además de lo anterior, para cumplir con la ley aplicable o si (i) tú has violado nuestros Términos de Uso, (ii) tú has recibido repetidamente valoraciones desfavorables o se nos informa de problemas
            con su conducta o comportamiento, o (iii) si creemos de buena fe que son necesarias para proteger nuestra Plataforma Online, a otros Usuarios, o para prevenir el fraude o cualquier otra actividad ilícita, podemos tomar las medidas que se indican
            a continuación: Limitar temporal o permanentemente tu autorización para pujar y/o vender Lotes Revocar temporal o permanentemente cualquier estatus especial asociado con tu Cuenta Limitar temporal o permanentemente tu acceso a tu Cuenta Si
            (i) no has proporcionado datos bancarios o de identificación exactos en el momento de nuestra primera solicitud dentro de un plazo razonable, (ii) has sido avisado por nuestro Proveedor de Servicios de Pago, o (iii) no has superado ninguna
            lista de verificación de PEP o de sanciones, te encontrarás en situación de incumplimiento y (a) es posible que se retenga cualquier pago (incluido un reintegro), o bien ("b") perderás todo derecho de recibir el pago (incluido un reembolso)
            Si pagaste un Lote con tu tarjeta de crédito y, aunque el Vendedor no haya cometido un incumplimiento, tú presentaste una devolución satisfactoria del cargo, se nos permite (i) bloquear tu Cuenta, (ii) compensar cualquier reclamación que tengamos
            contra ti, (iii) bloquear cualquier pago futuro hacia ti, e (iv) iniciar un proceso legal en tu contra. Si nuestro acuerdo se rescinde o el acceso a tu Cuenta se suspende mientras tú todavía tienes ciertas obligaciones hacia un Vendedor bajo
            un Contrato de Venta, podemos cancelar las transacciones en nuestro sistema y disolver el o los Contratos de Venta en nombre del Vendedor o Vendedores en cuestión. También se nos permite imponer una penalización económica de 1000 € (mil euros)
            por cada violación de estos Términos de Uso, sin perjuicio de nuestro derecho a recuperar los daños reales. Intentamos hacer una advertencia antes de imponer esta sanción. Sin embargo, en el caso de una infracción grave, impondremos la sanción
            sin previo aviso. La sanción aumentará en un 10 % por cada violación subsiguiente de nuestros Términos de Uso. Si es posible, compensaremos esta penalización de conformidad con nuestros Términos de Uso. </p>
        <h2>Artículo 6: Derecho de desistimiento </h2>
        <p>
            Los Consumidores tienen una garantía legal de conformidad del Lote. Además, dependiendo de tu lugar de residencia, es posible que tengas derecho a cancelar y devolver tu compra sin ningún motivo. El derecho de desistimiento de la UE puede ser aplicable
            a tu Contrato de Venta. Los consumidores que residan en un país del Espacio Económico Europeo y que compren un Lote a un Vendedor Profesional tendrán derecho a desistir de la compra sin necesidad de indicar las razones en un plazo de 14 días
            (el "período de reflexión"). Si desistes de tu compra, deberás devolverle el Lote al Vendedor. En virtud del derecho de desistimiento, deberás devolver el Lote en un plazo de 14 días a partir de la notificación de desistimiento. El Lote deberá
            devolverse al Vendedor con todos los accesorios relacionados que se hayan entregado y, si es posible, en su estado y embalaje originales. Tú solo eres responsable por cualquier valor disminuido del Lote que resulte del manejo más allá de lo
            necesario para establecer la naturaleza, características y funcionamiento del Lote. Se te reembolsará el Precio de Compra completo, incluidos los gastos de transporte, y la Comisión del Comprador. Sin embargo, tú correrás con los gastos directos
            de devolución del Lote. El derecho de desistimiento de la UE puede no ser aplicable a tu Contrato de Venta. Ten en cuenta que ciertos productos y servicios están excluidos del derecho de desistimiento, tales como, entre otros, oro, diamantes,
            lingotes y otros productos con precios fluctuantes, que se deterioran rápidamente o que tienen una vida útil limitada. Encontrarás más información sobre el derecho de desistimiento en nuestra Política de Derecho de Desistimiento.
        </p>


        <h2>Artículo 7: Comunicación interna</h2>
        <p>
            Puedes utilizar nuestro sistema de comunicación interna para comunicarte directamente con un Vendedor. Este sistema es una gran manera de organizar la entrega de un Lote. Ten en cuenta que no permitimos que este sistema se utilice para las siguientes
            actividades: Envío de publicidad o promociones no solicitadas, solicitudes de donaciones o spam Insultar, acosar o discriminar a otros Usuarios Realizar un acuerdo de venta con un Usuario sin la mediación de <b>Subastón</b>, con
            el fin de evitar comisiones. ¿Deseas enviarle a un Vendedor tu comentario sobre un Lote que has comprado? Nuestra Política de Comentarios se aplica a cualquier comentario que desees dejar.</p>

        <h2>Artículo 8: Conflictos con otros Usuarios </h2>
        <p>
            Esperamos que los Usuarios resuelvan cualquier conflicto entre ellos. Sin embargo, si es necesario, haremos esfuerzos razonables para mediar entre el Vendedor y el Comprador. Por lo tanto, se nos deberá comunicar lo antes posible cualquier reclamación
            o conflicto entre el Vendedor y el Comprador. Contactar con el Vendedor: para contactar con el Vendedor, dirígete a Mis lotes ganados y encuentra el pedido para esa venta. Entonces podrás hacer clic en "Contactar con el vendedor" para enviar
            un mensaje al Vendedor. Contactar con <b>Subastón</b>: ponte en contacto con nuestro departamento de Atención al Cliente enviándonos un correo electrónico a través de nuestro formulario de contacto. Si no se puede encontrar una
            solución satisfactoria, incluso con nuestro apoyo, aceptas que nosotros tendremos la última palabra de conformidad con el artículo 14 de los Términos de Uso. Sin embargo, a pesar de nuestra decisión, tú eres libre de ejercer tus derechos o
            discutir directamente con el Vendedor tu reclamación relacionada con el Contrato de Venta. </p>
        <h2>Artículo 9: Retribuciones de reventa</h2>
        <p>
            Si un Lote es una obra de arte original, es posible que se deba al artista una retribución por reventa, basada en la legislación de derechos de autor aplicable. En esos casos, tú asumirás el coste de la retribución por la reventa, independientemente de
            si eres un profesional del mercado del arte o no. Tú tendrás que reembolsar a la parte que ha pagado la retribución de reventa al artista o al representante del artista a la primera solicitud. Dicho reembolso incluirá la retribución total
            de la reventa y todos los costes, gastos, gravámenes o impuestos relacionados.</p>



</div>