
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row mt-5">
      <div class="col-xl mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="mb-0">Productos</h2>
                <input type="text" name="" id="">
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th style="display: none;" scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">DNI</th>
                  <th scope="col">Fecha de registro</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of productos">
                  <td style="display: none;">{{producto._id}}</td>
                  <td style="display: none;">{{producto.user._id}}</td>
                  <td>{{producto.name}}</td>
                  <td>{{producto.user.name}}</td>
                  <td>{{producto.user.dni}}</td>
                  <td>3/12/2020</td>
                  <td>{{producto.state}}</td>
                  <td><button class="btn btn-light" (click)="verHistorialDetalle(producto._id)">ver Historial</button></td>   
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>