<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="container">
                <div class="header-body text-center mb-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <h1 class="text-white">¡Qué bien volver a verte!</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">
                    <div class="text-muted text-center mt-2 mb-3"><small>Loguearse con Google</small></div>
                    <div class="btn-wrapper text-center">
                        <a id="btnGoogle" class="btn btn-neutral btn-icon">
                            <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                            <span class="btn-inner--text">Google</span>
                        </a>
                    </div>
                </div>
                <div class="card-body  py-lg-2">
                    <div class="text-center text-muted mb-4">
                        <small>O ingresa tus credenciales</small>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login($event)">
                        <div class="form-group mb-3" [ngClass]="{'has-danger' : loginForm.get('email').errors && loginForm.get('email').touched,'has-success': !loginForm.get('email').errors}">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Email" type="email" formControlName="email">
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-danger' : loginForm.get('password').errors && loginForm.get('password').touched,'has-success': !loginForm.get('password').errors}">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" placeholder="Password" type="password" formControlName="password">
                            </div>
                        </div>
                        <div class="custom-control custom-control-alternative custom-checkbox">
                            <input class="custom-control-input" id=" customCheckLogin" type="checkbox" formControlName="remember">
                            <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Recordar contraseña</span>
              </label>
                        </div>
                        <div class="text-center">
                            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary my-4">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 text-right">
                    <a [routerLink]="['../register']" class="text-light"><small>Crear una cuenta nueva</small></a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-7">
            <div class="container">
                <div class="header-body text-center mb-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <h1 class="text-white">¿Usuario nuevo?</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-2">
                    <button [routerLink]="['../register']" type="button" class="btn btn-warning btn-rounded rounded-pill btn-lg btn-block">Crea tu cuenta
            gratis</button>
                </div>
                <div class="card-body  py-lg-2">
                    <ul>
                        <li>Puja por alguno de los más de 50 000 artículos únicos subastados cada semana</li>
                        <li>Recibe una notificación automática si sale a subasta tu objeto seleccionado</li>
                        <li>Vende tus objetos en nuestras subastas </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>