/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

.btn-primary {
    background-color: #0033FF;
}

.font-5 {
    font-weight: 500 !important;
}

.font-6 {
    font-weight: 600 !important;
}


/*Login*/

.content-register {
    background-color: #F0F1F5;
    padding: 2rem;
}

.input-group-text {
    border: none;
}

.check-contra {
    text-align: right;
}

.r-input {
    width: 21rem;
    font-size: 1rem;
    line-height: 1.125;
    height: 2.5rem;
}

.form-rec {
    color: #727272;
    font-size: 13px;
}

.r-input {
    background-color: #f0f1f5;
    border-radius: 2.5rem;
    border: 1px solid rgba(34, 34, 34, 0.32);
    color: #000;
    padding: 0.43rem 1.333em;
    margin-left: -0.25rem;
}

.r-input {
    margin-bottom: 0.5rem;
    width: 25rem;
}

.input-group-text {
    border: none !important;
}

.form-register {
    padding-top: 1.5rem;
}

.bt-free {
    width: 370px;
}

.bt-free {
    background-color: #ff6969 !important;
    font-size: 20px;
    border-radius: 2.5rem;
    border: 1px solid rgba(34, 34, 34, 0.32);
    color: white !important;
    padding: 0.43rem 1.333em;
    width: calc(100% + 0.5rem);
    margin-left: -0.25rem;
}

.btn-inic {
    border-radius: 2.5rem;
    font-size: 8px;
    background-color: #0033FF;
}

.reg-list {
    margin-top: 1.5rem;
}

.i-recordar {
    padding-left: 0.5rem;
}

.recordar {
    text-align: right;
    position: absolute !important;
    /* margin-right: 1rem; */
    padding-right: 2.6rem !important;
    padding-top: 0.5rem;
}


/* Fin Login */


/*Registro modal*/

.bodyRegistro h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.bodyRegistro p,
.bodyRegistro label,
.bodyRegistro a {
    font-size: .9rem;
}

.bodyRegistro p a {
    color: #afafaf;
    text-decoration: underline;
}

.text-plomo {
    color: #afafaf;
}

.separatorRegister {
    position: relative;
}

.separatorRegister span {
    position: relative;
    z-index: 2;
}

.separatorRegister::before,
.separatorRegister::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 400px;
    height: 2px;
    background-color: #afafaf;
}

.separatorRegister::after {
    right: 0;
}

.separatorRegister::before {
    left: 0;
}

.bodyRegistro {
    padding: 1rem 1.5rem 1.5rem;
}

.content-social a {
    position: relative;
}

.icon-google {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}


/*Fin registro modal*/


/*INICIO HOME PORTAL */


/*FIN HOME PORTAL*/

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*Animated*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.owl-theme .owl-nav [class*=owl-]{
    position: absolute;
    top: 48%;
    transform: translateY(-48%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.owl-next {
    right: -20px;
}

.owl-prev {
    left: -20px;
}