<h1>Hola JP</h1>
<span>Gracias por un ser un miembro leal a Subastón</span>

<div class="row">
    <div class="col-6">
        <p class="row label-type" (onClick)="handleClick(1)">Cuenta</p>
        <p class="row label-type" (onClick)="handleClick(2)">Ubigeo</p>
        <p class="row label-type" (onClick)="handleClick(3)">Pago</p>
    </div>

    <div class="col-6" *ngIf="display==1">
        <h2 class="row">Cuenta</h2>
        <div class="row">
            <h3 class="col-8">Nombre de usuario</h3>
            <h3 class="col-4">user-39e45ea</h3>
        </div>
        <div class="row">
            <h3 class="col-8">Direcciones de correo electrónico</h3>
            <h3 class="col-4">user-39e45ea</h3>
        </div>
        <div class="row">
            <h3 class="col-8">Contraseña</h3>
            <h3 class="col-4">user-39e45ea</h3>
        </div>
        <div class="row">
            <h3 class="col-8">Idioma</h3>
            <h3 class="col-4">user-39e45ea</h3>
        </div>
        <div class="row">
            <h3 class="col-8">Moneda de pujas</h3>
            <h3 class="col-4">user-39e45ea</h3>
        </div>
    </div>
    <div class="col-6" *ngIf="display==2">
        <h2>Ubigeo</h2>
        <h3>Departamento</h3>
        <input class="col-9" type="text" placeholder="Departamento">
        <h3>Provincia</h3>
        <input class="col-9" type="text" placeholder="Provincia">
        <h3>Distrito</h3>
        <input class="col-9" type="text" placeholder="Distrito">
        <h3>Dirección</h3>
        <input class="col-9" type="text" placeholder="Dirección">
    </div>
    <div class="col-6" *ngIf="display==3">
        <h2>Datos de Pagos</h2>
        <div class="row">
            <h3 class="col-6">Gestión de tarjetas de crédito</h3>
            <a href="*" class="col-6">Añadir nueva tarjeta</a>
        </div>
        <h3>Nombre del titular de la tarjeta</h3>
        <input type="text" class="col-9">
        <h3>Datos de la tarjeta</h3>
        <input type="Número de la tarjeta" class="col-9">
    </div>
</div>