<div class="container m-4">
  <div class="titulo">
    <div class="row">
      <div class="col-md-6">
        <h2>Datos</h2>
      </div>
      <div class="col-md-6" align="end">
        <button (click)="goToShipping()" class="btn btn-primary btn-sm">
          Siguiente <i class="ni ni-bold-right"></i>
        </button>
      </div>
    </div>
    <p>Para que podamos hacernos una idea de tu lote, introduce todos los datos necesarios con la mayor precisión
      posible. De esta manera, agilizarás la revisión del experto y aumentarás las probabilidades de búsqueda de tu
      lote, atrayendo así a más pujadores.</p>
  </div>
</div>
