<a href="" class="d-block">
    <div class="card p-0 product_view1 border-0 rounded overflow-hidden">
        <div class="product_view1_img" style="background-image: url('https://i.blogs.es/9638f5/osete/840_560.jpg');">
            <span class="text-over-product">Ver detalle</span>
        </div>
        <div class="card-body py-2 px-3">
            <p class="card-text font-6 product_view1_title">Some quick example text to build</p>
            <p class="product_view1_subtitle">PUJA ACTUAL</p>
            <p class="product_view1_cost">36 €</p>
            <p class="product_view1_time">2d 10h:00m:00s</p>
        </div>
    </div>
</a>
