.product_view1{
    box-shadow: 0px 0px 3px 0px #7b7b7b;
    transition: all 0.5s;
}
.product_view1_title{
    font-size: 1rem;
    margin-bottom: .5rem;
    color: #212529;
}
.product_view1_subtitle{
    font-size: .8rem;
    color: #afafaf;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.product_view2_subtitle{
    font-size: .8rem;
    color: #727272;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.product_view1_cost{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: .5rem;
    line-height: 1.3;
    color: #212529;
}
.product_view1_time{
    font-size: .9rem;
    font-weight: 600;
    color: #545454;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.product_view1_img{
    position: relative;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.text-over-product{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
    opacity: 0;
    z-index: 2;
}
.product_view1_img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgb(33 37 41 / 74%);
    top: 0;
    left: 0;
    transition: all .5s;
}
.product_view1_img::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgb(33 37 41 / 74%);
    bottom: 0;
    left: 0;
    transition: all .5s;
}
.product_view1:hover .product_view1_img::after,
.product_view1:hover .product_view1_img::before{
    height: 50%;
}
.product_view1:hover .text-over-product{
    opacity: 1;
}
.product_view1:hover{
    box-shadow: 0 0.25rem 0.5rem rgba(34,34,34,0.27);
    transition: all ease-in-out 0.3s;
}